<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados do Speedtest</title>
</head>
<body>
    <h1>Informações do Speedtest</h1>

    <h2>Velocidade de Download: {{ download }} Mbps</h2>
    <h2>Velocidade de Upload: {{ upload }} Mbps</h2>
    <h2>Ping: {{ ping }} ms</h2>

    <h3>Servidor</h3>
    <p>Nome: {{ server['name'] }}</p>
    <p>País: {{ server['country'] }}</p>
    <p>URL: <a href="{{ server['url'] }}" target="_blank">{{ server['url'] }}</a></p>

    <h3>Cliente</h3>
    <p>IP: {{ client['ip'] }}</p>
    <p>Provedor: {{ client['isp'] }}</p>
    <p>País: {{ client['country'] }}</p>
</body>
</html>
